<?xml version="1.0" encoding="UTF-8"?>
<panel title="Phantom 1.0">
	<item type="comboBox" name="responsiveEnabled">
		<title><![CDATA[Responsive Layout]]></title>
		<description><![CDATA[Enable responsive layout. If value is true, then Width value will be max width of gallery]]></description>
		<data>
			<label name="True"><![CDATA[true]]></label>
			<label name="False"><![CDATA[false]]></label>
		</data>
		<prompt><![CDATA[]]></prompt>
		<rowCount>2</rowCount>
		<value><![CDATA[true]]></value>
	</item>
	<item type="textInput" name="thumbCols">
		<title><![CDATA[Thumbnail Columns]]></title>
		<description><![CDATA[Number of Columns (number, 0 = auto). Set the number of columns for the grid. If value is 0, then number of columns will be relative to gallery width or relative to Thumbnail Rows.]]></description>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[0]]></text>
	</item>
	<item type="textInput" name="thumbRows">
		<title><![CDATA[Thumbnail Rows]]></title>
		<description><![CDATA[Number of Lines (number, 0 = auto). Set the number of lines for the grid. This will be ignored if Thumbnail Columns value is not 0 or if Height value is 0.]]></description>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[0]]></text>
	</item>
	<item type="comboBox" name="thumbsNavigation">
		<title><![CDATA[Grid Navigation]]></title>
		<description><![CDATA[Set how you navigate through the thumbnails. Ignore this option if Height value is 0.]]></description>
		<data>
			<label name="Mouse Move"><![CDATA[mouse]]></label>
			<label name="Scroll Bars"><![CDATA[scroll]]></label>
		</data>
		<prompt><![CDATA[]]></prompt>
		<rowCount>2</rowCount>
		<value><![CDATA[mouse]]></value>
	</item>
	<item type="colorPicker" name="bgColor">
		<title><![CDATA[Background Color]]></title>
		<description><![CDATA[]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0xf1f1f1</selectedColor>
	</item>
	<item type="slider" name="bgAlpha">
		<title><![CDATA[Background Alpha]]></title>
		<description><![CDATA[]]></description>
		<maximum>100</maximum>
		<minimum>0</minimum>
		<snapInterval>5</snapInterval>
		<tickInterval>5</tickInterval>
		<value>100</value>
	</item>
	<item type="textInput" name="thumbWidth">
		<title><![CDATA[Thumbnail Width]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[100]]></text>
	</item>
	<item type="textInput" name="thumbHeight">
		<title><![CDATA[Thumbnail Height]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[100]]></text>
	</item>
	<item type="textInput" name="thumbsSpacing">
		<title><![CDATA[Space between thumbnails]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[15]]></text>
	</item>
	<item type="textInput" name="thumbsPaddingTop">
		<title><![CDATA[Top padding for grid]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[3]]></text>
	</item>
	<item type="textInput" name="thumbsPaddingRight">
		<title><![CDATA[Right padding for grid]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[3]]></text>
	</item>
	<item type="textInput" name="thumbsPaddingBottom">
		<title><![CDATA[Bottom padding for grid]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[3]]></text>
	</item>
	<item type="textInput" name="thumbsPaddingLeft">
		<title><![CDATA[Left padding for grid]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[3]]></text>
	</item>
	<item type="slider" name="thumbAlpha">
		<title><![CDATA[Alpha transparancy for thumb]]></title>
		<description><![CDATA[]]></description>
		<maximum>100</maximum>
		<minimum>0</minimum>
		<snapInterval>5</snapInterval>
		<tickInterval>5</tickInterval>
		<value>80</value>
	</item>
	<item type="slider" name="thumbAlphaHover">
		<title><![CDATA[Hover Alpha transparancy for thumb]]></title>
		<description><![CDATA[]]></description>
		<maximum>100</maximum>
		<minimum>0</minimum>
		<snapInterval>5</snapInterval>
		<tickInterval>5</tickInterval>
		<value>100</value>
	</item>
	<item type="colorPicker" name="thumbBgColor">
		<title><![CDATA[Thumbnail Background Color]]></title>
		<description><![CDATA[]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0xcccccc</selectedColor>
	</item>
	<item type="colorPicker" name="thumbBgColorHover">
		<title><![CDATA[Thumbnail Background Color Hover]]></title>
		<description><![CDATA[]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0x000000</selectedColor>
	</item>
	<item type="slider" name="thumbBorderSize">
		<title><![CDATA[Thumbnail Border Size]]></title>
		<description><![CDATA[]]></description>
		<maximum>20</maximum>
		<minimum>0</minimum>
		<snapInterval>1</snapInterval>
		<tickInterval>1</tickInterval>
		<value>0</value>
	</item>
	<item type="colorPicker" name="thumbBorderColor">
		<title><![CDATA[Thumbnail Border Color]]></title>
		<description><![CDATA[]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0xcccccc</selectedColor>
	</item>
	<item type="colorPicker" name="thumbBorderColorHover">
		<title><![CDATA[Thumbnail Border Color Hover]]></title>
		<description><![CDATA[]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0x000000</selectedColor>
	</item>
	<item type="textInput" name="thumbPaddingTop">
		<title><![CDATA[Thumbnail Padding Top]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[3]]></text>
	</item>
	<item type="textInput" name="thumbPaddingRight">
		<title><![CDATA[Thumbnail Padding Right]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[3]]></text>
	</item>
	<item type="textInput" name="thumbPaddingBottom">
		<title><![CDATA[Thumbnail Padding Bottom]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[3]]></text>
	</item>
	<item type="textInput" name="thumbPaddingLeft">
		<title><![CDATA[Thumbnail Padding Left]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[3]]></text>
	</item>
	<item type="comboBox" name="thumbsInfo">
		<title><![CDATA[Display Thumbnails Title]]></title>
		<description><![CDATA[Display a small info text on the thumbnails, a tooltip or a label.]]></description>
		<data>
			<label name="Tooltip"><![CDATA[tooltip]]></label>
			<label name="Label"><![CDATA[label]]></label>
			<label name="None"><![CDATA[none]]></label>
		</data>
		<prompt><![CDATA[]]></prompt>
		<rowCount>3</rowCount>
		<value><![CDATA[label]]></value>
	</item>
	<item type="comboBox" name="labelPosition">
		<title><![CDATA[Label Position]]></title>
		<description><![CDATA[Ignore this if Display Thumbnails Title value is not Label.]]></description>
		<data>
			<label name="Bottom"><![CDATA[bottom]]></label>
			<label name="Top"><![CDATA[top]]></label>
		</data>
		<prompt><![CDATA[]]></prompt>
		<rowCount>2</rowCount>
		<value><![CDATA[bottom]]></value>
	</item>
	<item type="colorPicker" name="labelTextColor">
		<title><![CDATA[Label Text Color]]></title>
		<description><![CDATA[Ignore this if Display Thumbnails Title value is not Label]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0x000000</selectedColor>
	</item>
	<item type="colorPicker" name="labelTextColorHover">
		<title><![CDATA[Label Text Color Hover]]></title>
		<description><![CDATA[Ignore this if Display Thumbnails Title value is not Label]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0xffffff</selectedColor>
	</item>
	<item type="colorPicker" name="tooltipBgColor">
		<title><![CDATA[Tooltip Background Color]]></title>
		<description><![CDATA[Ignore this if Display Thumbnails Title value is not Tooltip.]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0xffffff</selectedColor>
	</item>
	<item type="colorPicker" name="tooltipStrokeColor">
		<title><![CDATA[Tooltip Stroke Color]]></title>
		<description><![CDATA[Ignore this if Display Thumbnails Title value is not Tooltip.]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0x000000</selectedColor>
	</item>
	<item type="colorPicker" name="tooltipTextColor">
		<title><![CDATA[Tooltip Text Color]]></title>
		<description><![CDATA[Ignore this if Display Thumbnails Title value is not Tooltip.]]></description>
		<showTextField>true</showTextField>
		<selectedColor>0x000000</selectedColor>
	</item>
	<item type="comboBox" name="lightboxPosition">
		<title><![CDATA[Lightbox Position]]></title>
		<description><![CDATA[If the value is Document the lightbox is displayed over the web page fitting in the browser's window, else the lightbox is displayed in the gallery's container.]]></description>
		<data>
			<label name="Document"><![CDATA[document]]></label>
			<label name="Gallery"><![CDATA[gallery]]></label>
		</data>
		<prompt><![CDATA[]]></prompt>
		<rowCount>2</rowCount>
		<value><![CDATA[document]]></value>
	</item>
	<item type="colorPicker" name="lightboxWindowColor">
		<title><![CDATA[Lightbox Window Color]]></title>
		<showTextField>true</showTextField>
		<selectedColor>0x000000</selectedColor>
	</item>
	<item type="slider" name="lightboxWindowAlpha">
		<title><![CDATA[Lightbox Window Alpha]]></title>
		<description><![CDATA[]]></description>
		<maximum>100</maximum>
		<minimum>0</minimum>
		<snapInterval>5</snapInterval>
		<tickInterval>5</tickInterval>
		<value>80</value>
	</item>
	<item type="colorPicker" name="lightboxBgColor">
		<title><![CDATA[Lightbox Background Color]]></title>
		<showTextField>true</showTextField>
		<selectedColor>0x000000</selectedColor>
	</item>
	<item type="slider" name="lightboxBgAlpha">
		<title><![CDATA[Lightbox Background Alpha]]></title>
		<description><![CDATA[]]></description>
		<maximum>100</maximum>
		<minimum>0</minimum>
		<snapInterval>5</snapInterval>
		<tickInterval>5</tickInterval>
		<value>100</value>
	</item>
	<item type="textInput" name="lightboxMarginTop">
		<title><![CDATA[Lightbox Margin Top]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[20]]></text>
	</item>
	<item type="textInput" name="lightboxMarginRight">
		<title><![CDATA[Lightbox Margin Right]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[20]]></text>
	</item>
	<item type="textInput" name="lightboxMarginBottom">
		<title><![CDATA[Lightbox Margin Bottom]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[20]]></text>
	</item>
	<item type="textInput" name="lightboxMarginLeft">
		<title><![CDATA[Lightbox Margin Left]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[20]]></text>
	</item>
	<item type="textInput" name="lightboxPaddingTop">
		<title><![CDATA[Lightbox Padding Top]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[10]]></text>
	</item>
	<item type="textInput" name="lightboxPaddingRight">
		<title><![CDATA[Lightbox Padding Right]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[10]]></text>
	</item>
	<item type="textInput" name="lightboxPaddingBottom">
		<title><![CDATA[Lightbox Padding Bottom]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[10]]></text>
	</item>
	<item type="textInput" name="lightboxPaddingLeft">
		<title><![CDATA[Lightbox Padding Left]]></title>
		<maxChars>0</maxChars>
		<restrict><![CDATA[0-9]]></restrict>
		<text><![CDATA[10]]></text>
	</item>
	<item type="slider" name="captionHeight">
		<title><![CDATA[Caption Height]]></title>
		<description><![CDATA[]]></description>
		<maximum>400</maximum>
		<minimum>25</minimum>
		<snapInterval>1</snapInterval>
		<tickInterval>1</tickInterval>
		<value>75</value>
	</item>
	<item type="colorPicker" name="captionTitleColor">
		<title><![CDATA[Caption Title Color]]></title>
		<showTextField>true</showTextField>
		<selectedColor>0xeeeeee</selectedColor>
	</item>
	<item type="colorPicker" name="captionTextColor">
		<title><![CDATA[Caption Text Color]]></title>
		<showTextField>true</showTextField>
		<selectedColor>0xdddddd</selectedColor>
	</item>
	<item type="checkBox" name="socialShareEnabled">
		<title><![CDATA[Enable AddThis Social Share]]></title>
		<description><![CDATA[]]></description>
		<selected>true</selected>
	</item>
<properties>
  <responsiveEnabled>true</responsiveEnabled>
  <thumbCols>0</thumbCols>
  <thumbRows>0</thumbRows>
  <thumbsNavigation>mouse</thumbsNavigation>
  <bgColor>0xf1f1f1</bgColor>
  <bgAlpha>100</bgAlpha>
  <thumbWidth>100</thumbWidth>
  <thumbHeight>100</thumbHeight>
  <thumbsSpacing>15</thumbsSpacing>
  <thumbsPaddingTop>3</thumbsPaddingTop>
  <thumbsPaddingRight>3</thumbsPaddingRight>
  <thumbsPaddingBottom>3</thumbsPaddingBottom>
  <thumbsPaddingLeft>3</thumbsPaddingLeft>
  <thumbAlpha>80</thumbAlpha>
  <thumbAlphaHover>100</thumbAlphaHover>
  <thumbBgColor>0xcccccc</thumbBgColor>
  <thumbBgColorHover>0x000000</thumbBgColorHover>
  <thumbBorderSize>0</thumbBorderSize>
  <thumbBorderColor>0xcccccc</thumbBorderColor>
  <thumbBorderColorHover>0x000000</thumbBorderColorHover>
  <thumbPaddingTop>3</thumbPaddingTop>
  <thumbPaddingRight>3</thumbPaddingRight>
  <thumbPaddingBottom>3</thumbPaddingBottom>
  <thumbPaddingLeft>3</thumbPaddingLeft>
  <thumbsInfo>label</thumbsInfo>
  <labelPosition>bottom</labelPosition>
  <labelTextColor>0x000000</labelTextColor>
  <labelTextColorHover>0xffffff</labelTextColorHover>
  <tooltipBgColor>0xffffff</tooltipBgColor>
  <tooltipStrokeColor>0x000000</tooltipStrokeColor>
  <tooltipTextColor>0x000000</tooltipTextColor>
  <lightboxPosition>document</lightboxPosition>
  <lightboxWindowColor>0x000000</lightboxWindowColor>
  <lightboxWindowAlpha>80</lightboxWindowAlpha>
  <lightboxBgColor>0x000000</lightboxBgColor>
  <lightboxBgAlpha>100</lightboxBgAlpha>
  <lightboxMarginTop>20</lightboxMarginTop>
  <lightboxMarginRight>20</lightboxMarginRight>
  <lightboxMarginBottom>20</lightboxMarginBottom>
  <lightboxMarginLeft>20</lightboxMarginLeft>
  <lightboxPaddingTop>10</lightboxPaddingTop>
  <lightboxPaddingRight>10</lightboxPaddingRight>
  <lightboxPaddingBottom>10</lightboxPaddingBottom>
  <lightboxPaddingLeft>10</lightboxPaddingLeft>
  <captionHeight>75</captionHeight>
	<captionTitleColor>0xeeeeee</captionTitleColor>
  <captionTextColor>0xdddddd</captionTextColor>
  <socialShareEnabled>true</socialShareEnabled>
</properties>
</panel>